.button {
    color: white;
    background-color: #ED553B;
    border-radius: 16px;
    border: none;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px
}

.button:hover {
    background-color: #173F5F;
    cursor: pointer
}