#word-score {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    color: #ED553B;
    font-size: 50px;
    font-weight: bold;
    padding: 1%;
    -webkit-animation: fadeOut 1s;
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

#score-plus {
    color: #173F5F;
}

@-webkit-keyframes fadeOut {
    0% { opacity: 1;}
    99% { opacity: 0.01;}
    100% { opacity: 0;}
}  
@keyframes fadeOut {
    0% { opacity: 1;}
    99% { opacity: 0.01;}
    100% { opacity: 0;}
}
