.letter-tile {
	display: flex;
	justify-content: center;
	align-items: center;
	position: inherit; 
	background-color: #173F5F;
    margin: 10%;
	border-radius: 20%;
	color: white;
}

.letter-tile-selected {
	display: flex;
	justify-content: center;
	align-items: center;
	position: inherit; 
	background-color: #ED553B;
    margin: 10%;
	border-radius: 20%;
	transform: rotate(30deg);
	color: white;
}

.letter-tile-miami {
	background-color: #FF9AA2;
}

.letter-tile-selected-miami {
	background-color: #B5EAD7;
	border-radius: 100%;
}