#heart-display-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 1%;
    min-width: 70px;
}

.heart-wrapper{
    width: 1vw;
    height: 1vw;
    min-width: 20px;
    min-height: 20px;
    padding: 15%;
}

.heart {
    background-color: #5eb8b8;
    transform: rotate(-45deg);
    width: 1vw;
    height: 1vw;
    min-width: 20px;
    min-height: 20px;
  }

.heart:before,
.heart:after {
  content: "";
  background-color: #5eb8b8;
  border-radius: 50%;
  position: absolute;
  width: 1vw;
  height: 1vw;
  min-width: 20px;
  min-height: 20px;
}

.heart:before {
    top: -10px;
    left: 0;
}