#clock-display-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: #5eb8b8;
	font-size: 26px;
    font-weight: bold;
    flex: 1;
}